@import './mixin';
@import './display';

@import './footer';
@import './login';
@import './sidebar';

.main-container {
  width: 100%;
  max-width: 130rem;
  margin: 8rem 6rem 3rem;
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem;
}