

.header {
  padding: 1.2rem 4rem;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(206,177,230,1) 92%);
  text-decoration: none;
  /* display: block; */
}

.header .logo {
  height: 5rem;
}

.navbar-list {
  display: flex;
  gap: 5rem;
  list-style: none;
  
}

.myButton1{
  height:4.0rem;
  width:15rem;
  font-size:15px;
  margin-left: 5rem;
  border-radius: 15px;
  margin-top: -0.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;

}

.sticky + .content {
  padding-top: 60px;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.2s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #42d3af;
  border-radius: 15px;
  /* background-color:#e5f5f2; */
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.section-hero,
.section-services {
  padding: 9.6rem 0;
  background-color: linear-gradient(100deg, rgba(231, 116, 235, 0.8) 0%, rgba(236, 232, 236, 0.959) 25%);
  height: 200vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background: #f3f0ff;
}

.section-hero p,
.section-services p {
  font-size: 3.2rem;
}

svg{
  margin-right: 1rem;
}

/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  
  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .myButton1{
    height:4.0rem;
    width:15rem;
    font-size:15px;
    /* margin-left: 5rem; */
    border-radius: 15px;
    margin-top:-120vh;
    margin-left:-46vw;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: #212529;
  }

  .myButton1{
    height:4.0rem;
    width:15rem;
    font-size:15px;
    /* margin-left: 5rem; */
    border-radius: 15px;
    margin-top:-106vh;
    margin-left:-46vw;
  }
}
